.dog-index-container {
  // background-color: #ffc511;
  h1 {
    padding-top: 30px;
  }
}

.page-title {
  text-align: center;
  padding: 30px 0;
  color: gray;
}

.search-bar {
  // width: 100%;
  // margin: 0 auto;
  border-radius: 10px;
  padding: 25px 140px;
  margin-bottom: 50px;
  font-size: 20px;
}

.dog-index-container {
  // width: 100%;
  display: flex;
  position: relative;
}

.dog-index-content {
  padding: 0 60px 100px 40px;
  width: 65%;
}

.dog-index-map-container {
  width: 35%;
}

#map {
  position: sticky;
  top: 0;
}

.dog-index-map {
  // position: absolute;
}

.search-bar-dog-index {
  font-size: 40px;
}

.dog-index-card-grid {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  display: grid;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .dog-index-card-grid {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .dog-index-card-grid {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .dog-index-card-grid {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .dog-index-card-grid {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .dog-index-card-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
