// Import page-specific CSS files here.
@import "home";
// body{
//     background: rgb(2,0,36);
//     background: linear-gradient(148deg, rgba(2,0,36,1) 0%, rgba(216,233,236,0.7175245098039216) 0%, rgba(44,48,48,1) 100%);
// }
