.profile-info {
  // display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 40px;
}

.profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;

  object-fit: cover;
}

.profile-img {
  display: flex;
  justify-content: center;
  position: relative;
}

.profile-card {
  flex-grow: 1
}

.profile-div-center {
  display: flex;
  justify-content: center;
}

.profile-edit {
  position: absolute;
  bottom: 30px;
  border-radius: 5px;
}

.profile-about {
  margin-right: 50px;
}

.top-half {
 display: flex;
}
