.profile-info {
  // display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 40px;
}

.profile-photo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-img {
  display: flex;
  justify-content: center;
}

.profile-card {
  flex-grow: 1
}

.profile-div-center {
  display: flex;
  justify-content: center;
}

.profile-edit {
  position: absolute;
  bottom: 30px;
}

.top-half {
 display: flex;
}

.profile-about {

}

.dogs-list {

}
