<div class="banner"
    style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "dog-banner.jpg" %>');">
    <div class="container">
        <h1>Welcome to Fetch<strong> </h1>
        <p>Here you can find someone to walk your cute doggo, or walk someone else's doggo!</p>
    </div>
</div>