
<div class="banner"
style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url('<%= image_path "dog-banner.jpg" %>')">
<div class="container">
  <div class="nobc">
    <div class="card-product-infos">
      <div class="col-5 pb-3">
        <h1>Fetch 🐾 </h1>
        <!-- <p>Take a walk with a dog for free!</p> -->
      </div>

      <div>
        <%= form_tag dogs_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control search-bar-home fontsize width-40",
          placeholder: "Find a dog to walk near you"
          %>
        </div>
        <% end %>

      </form>
      <div class="col-7">
      </div>
    </div>
  </div>
</div>
</div>
