
<div class="card-product">  
    <img src="<%= image_path 'leash-card.jpg'%>">
    <div class="card-product-infos">
    <h2>Walk a doggo now!</h2>
    <p><input type="text" id="locationhp" value="Where do you live?"> </p>
    <p> find all the dogs by your location!</p>
    </div>
  </div>