.appointment-card {
  display: flex;
  justify-content: space-between;
  background: white;
  margin: 10px;
  margin-bottom: 30px;
  padding: 0px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  h3 {
    margin: 0;
  }
}

.appointment-card-img {
  height: 140px;
  width: 140px;
  background-size: cover;
  background-position: center;
}

.appointment-avatar {
  position: absolute;
  left: 110px;
  bottom: 90px;
  border: 2px solid white;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
