.banner {
    background-size: cover;
    // padding: 190px 0;
    min-height: 97.5vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    margin-top: -40px;
}

.banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.banner p {
    font-size: 25px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    text-align: center;
    vertical-align: middle;
}

.fontsize {
  font-size: 20px;
  text-align: center;
  border-radius: 12px;
}

.width-40 {
  width: 40%;
}

.search-bar-home {
  padding: 10px 20px;
}
