.margin-of-card {
  box-shadow: 10px 10px 2px -5px rgba(0,0,0,0.29);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  padding-bottom: 100px;
}

.card-margin-border-radius {
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(230,230,230,1);
}

.border-radius {
  border-radius: 10px 10px 0px 0px;
}

.btn-color {
  background-color: #1BCB80;
}

.card-margin-border-radius:hover {
  box-shadow: none;
}

.card-photo {
  height: 200px;
  margin: 4px;
  border-radius: 5px;
  object-fit: cover;
}

.card-text {
  height: 80px;
}
