.margin-of-card {
  box-shadow: 10px 10px 2px -5px rgba(0,0,0,0.29);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 30px;
}

.card-margin-border-radius {
  border-radius: 10px;
  margin: 15px;
  box-shadow: 10px 10px 6px -5px rgba(0,0,0,0.31);
}

.border-radius {
  border-radius: 10px 10px 0px 0px;
}

.btn-color {
  background-color: #1BCB80;
}

.card-margin-border-radius:hover {
  box-shadow: none;
}

