.card-product {
  overflow: hidden;
  height: 120px;
  margin-right: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.0);
  display: flex;
  align-items: center;
  justify-content: center;   
  position: relative;
  top: 150px

}


.card-product h2 {
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  margin-bottom: 10px;
}
.card-product-infos{
}