.background {
  min-height: 92.8vh;
  background: radial-gradient(circle, rgba(252,190,70,1) 15%, rgba(252,248,70,1) 100%);
}

.everything-flex {
  background-color: white;
  display: flex;
  justify-content: space-around;
  border: solid red;
  padding: 20px 30px;
}

.padding-top-container {
  padding-top: 35px;
  padding-bottom: 35px;
}

.btn-success {
    display: flex;
    margin-right: -51px;
    border-radius: 2%;
}

.button-color {
    display: inline-block;
    text-align: center;
    background-color: #ffb200;
}

.dog-information {
  width: 350px;
}
