.background {
  min-height: 92.8vh;
  background: radial-gradient(circle, rgba(252,190,70,1) 15%, rgba(252,248,70,1) 100%);
}

.everything-flex {
  background-color: white;
  display: flex;
  justify-content: space-between;
  border: solid #cecece;
  border-width: 0.5px;
  padding: 50px 100px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.08);
}

.padding-top-container {
  padding-top: 35px;
  padding-bottom: 35px;
}


.button-color {
    display: inline-block;
    text-align: center;
    background-color: #ffb200;
    width: 324.14px;
    border-radius: 10px;
    color: white;
}

.dog-information {
  width: 300px;
}

.btn-center {
  text-align: center;
}

.margin-between-elements {
  margin-top: 40px;
}

.image-border-radius {
  border-radius: 10px;
  box-shadow: 5px 5px 2.5px 0px rgba(0,0,0,0.1);
}

.thin-line {
  border: solid #cecece;
  border-width: 0.5px;
}

// @media screen and (max-width: 1200px){
//   .sm-flex-col {
//     flex-direction: column;
//   }
// }
