.bckgrnd{
    background-size: cover;
   
}
#h1ofshow{
    margin: 0;
    color: black;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 65px;
    font-weight: bold;
    text-align: center;

}
#pofshow{
    font-size: 25px;
    color: black;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.btn-success{
    display: flex;
    margin-right: -51px;
    border-radius: 2%;
}
.ctrbtn{
    width: 350px;
    height: 50px;
    // margin: 0 auto;
    // padding: 0;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    // margin-left: -10px;
}
.mgnr{
    width: 340px;
    display: inline-block;
    text-align: center;
}
.shawdow{

}