.background {
  background: radial-gradient(circle, rgba(252,190,70,1) 15%, rgba(252,248,70,1) 100%);
  display: flex;
  align-items: center;
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-of-sign-up {
  width: 500px;
  border: solid;
  border-color: #cecece;
  border-width: 0.5px;
  padding: 20px 30px 0px 30px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.08);
}

.btn-width {
  background-color: #ffb200;
  color: white;
  border-radius: 10px;
  margin-bottom: 10px;
}

.pad-sing-up {
  padding-bottom: 15px;
}
