// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "footer";
@import "card-all-dogs"
@import "appointment-card";
@import "new";
@import "notification";

