.mapboxgl-popup {
  max-width: 200px;
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    padding-bottom: 15px;
  }
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
