.navbar-lewagon {
  justify-content: space-between;
  background: white;
  top: 0px;
  width: 100%;
  margin-bottom: 40px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  position: relative;
  left: 30px;
  color: #FDD433;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.padding-navbar {
  padding-right: 2rem;
}

.hover-border-bottom:hover {
  // text-decoration: none;
  border-bottom: 1px solid #999999;
}

.navbar-padding {
  padding: 5px;
  padding-bottom: 5px;
}

.user-avatar {
  position: relative;
  right: 30px;
}
