.navbar-lewagon {
  justify-content: space-between;
  background: white;
  // position: fixed;
  top: 0px;
  width: 100%;
  margin-bottom: 40px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  position: relative;
  left: 30px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.padding-navbar {
  padding-right: 2rem;
}

.hover-border-bottom:hover {
  text-decoration: underline;
  color: black;
}

.navbar-padding {
  padding: 5px;
  padding-bottom: 5px;
}

.user-avatar {
  position: relative;
  right: 30px;
}

