.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.padding-navbar {
  padding-right: 2rem;
}

.hover-border-bottom:hover {
  text-decoration: underline;
  color: black;
}

.navbar-padding {
  padding: 5px;
  padding-bottom: 5px;
}
