.notification {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  background: white;
  padding: 0;
  border: 1px solid rgb(235,235,235);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  position: relative;
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification-content {
  padding: 20px 20px 20px 0;
  margin-left: 15px;
}

.notification-buttons {
  padding-right: 20px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: #999999;
  font-weight: bold;
}
.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}

.underline {
  border-bottom: 1px solid rgb(230, 230, 230);
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.white-badge h3 {
  font-color: white;
}
