.margin-btn {
  margin: 10px;
  background-color: #ffb200;
  border-radius: 10px;
  color: white;
  padding: 10px;
  width: 150px;
}

.width-of-container {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  width: 500px;
  border: solid;
  border-color: #cecece;
  border-width: 0.5px;
  padding: 20px 30px;
  margin: 25px 0 25px 30px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.08);
}

.everything-in-the-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, rgba(252,190,70,1) 15%, rgba(252,248,70,1) 100%);
}

.input-css {
  border-radius: 10px;
}

.form-control {
  border-radius: 10px;
  height: 45px;
}

.form-control-label {
  color: black;
  opacity: 1;
  text-shadow: none;
  font-size: 15px;
}

.btn-middle {
  display: flex;
  justify-content: center;
}
